:root {
  --primary: #f1f1f1;
  --secondary: #ffffff;
  --hover: #f7f7f7;
  --pressed: #f0f0f0;
  --focused: #005bd3;
  --font-light: #e3e3e3;
  --font-mid: #616161;
  --font-dark: #475467;
  --stroke-s-200: #616161;
  --stroke-s-100: #e1e1e1;
  --stroke-light-100: rgba(255, 255, 255, 0.2);
  --stroke-s-50: #ebebeb;
  --grey-g-50: #656266;
  --grey-g-100: #616161;
  --grey-g-200: #322f33;
  --grey-g-300: #1c181d;
  --grey-16: #1a1a1a;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.container {
  gap: 32px;
  height: 100vh;
  display: flex;
  max-width: 100vw;
  align-items: center;
  padding-bottom: 0px;
  flex-direction: column;
  background: var(--primary);
}

.nav-bar {
  width: 100%;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  justify-content: space-between;
}

.brand {
  width: 104.868px;
  height: 30px;
  cursor: pointer;
}

.logo-mobile {
  width: 32px;
  height: 32px;
  display: none;
}

.search-bar-form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  gap: 6px;
  width: 480px;
  height: 32px;
  padding: 8px;
  display: flex;
  font-family: "Inter", sans-serif;
  color: var(--grey-g-100);
  align-items: center;
  background-image: url(assets/SearchMinor.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 40px;
  border-radius: 8px;
}

.right-elem {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.notification {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.my-store {
  display: flex;
  padding: 2px 2px 2px 8px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 130%;
  align-items: center;
  border-radius: 8px;
  gap: 8px;
  cursor: pointer;
}

.logo {
  display: flex;
  height: 28px;
  border-radius: 6px;
  background: #36fba1;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 9px 5px 10px 5px;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

section.plan {
  display: flex;
  width: 800px;
  padding: 12px 8px 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.plan-text {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
}

.plan-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.select-plan {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
}

.close-btn {
  display: flex;
  padding: 6px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
}

.close-btn img {
  width: 20px;
  height: 20px;
}

.plan-text .close-btn-mobile {
  display: none;
}
section.card {
  display: flex;
  width: 800px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 18px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

.setup-guide-container {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.setup-guide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.setup-guide-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.setup-guide-title {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}

.setup-guide-instruction {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.setup-guide-progress {
  display: flex;
  align-items: center;
  gap: 8px;
}

.setup-guide-progress label {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
}
.setup-guide-progress .setup-progress {
  position: relative;
  width: 72px;
  height: 4px;
  background-color: var(--font-light);
  border-radius: 28px;
}

.setup-progress div {
  background-color: var(--grey-g-300);
  position: absolute;
  line-height: inherit;
  width: 25%;
  height: 100%;
  border-radius: 28px 0px 0px 28px;
}

div.close-setup {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
}

.close-setup {
  width: 20px;
  height: 20px;
}
/* Utility classes */

/* Background color */
.dark {
  background-color: var(--grey-16);
}

.light {
  background-color: var(--secondary);
}

.grey-50 {
  background-color: var(--grey-g-50);
}
.grey-100 {
  background-color: var(--grey-g-100);
}
.grey-200 {
  background-color: var(--grey-g-200);
}
.grey-300 {
  background-color: var(--grey-g-300);
}

/* Font colors */
.font-light {
  color: var(--font-light);
}

.font-mid {
  color: var(--font-mid);
}

.font-dark {
  color: var(--font-dark);
}

/* Outlines */
.stroke-100 {
  border: 1px solid var(--stroke-s-100);
}

.stroke-200 {
  border: 1px solid var(--stroke-s-200);
}

.stroke-50 {
  border: 1px solid var(--stroke-s-50);
}

/* Buttons */
.btn {
  display: inline-flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.btn-light {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--secondary);
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
}
.btn-light:hover {
  background: var(--hover);
}

.btn-light:active {
  background: var(--hover);
  box-shadow: 0px 2px 1.5px 0px #e2e2e2 inset;
}

.btn-light:focus {
  box-shadow: 0px 0px 0px 3px var(--focused), 0px 0px 0px 1px #fff,
    0px -1px 0px 0px #b5b5b5 inset;
}

.btn-dark {
  border-radius: 6px;
  border-top: 1.5px solid var(--stroke-light-100);
  border-right: 1.5px solid var(var(--stroke-light-100));
  border-left: 1.5px solid var(var(--stroke-light-100));
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
}
.btn-dark:hover {
  background: #2a2a2a;
}

.btn-dark:active {
  background: #2b2b2b;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}

.btn-dark:focus {
  box-shadow: 0px 0px 0px 5px var(--focused), 0px 0px 0px 3px #fff,
    0px 0px 0px 1.5px #333;
}

.btn-no-outline {
  border-radius: 6px;
}

.btn-no-outline:hover {
  background: #e7e7e7;
}

.btn-no-outline:active {
  background: #e0e0e0;
}

.btn-no-outline:focus {
  border: 2px solid var(--focused);
  background: #fff;
}

/* Media Queries */

@media (max-width: 640px) {
  body.container {
    width: 100vw;
    max-width: 640px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .nav-bar {
    width: 100vw;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
  }

  .brand {
    width: 32px;
    height: 32px;
  }

  .logo-mobile {
    display: inline-flex;
    img {
      width: 32px;
      height: 32px;
    }
  }

  .logo-desktop {
    display: none;
  }

  .search-bar-form {
    width: 240px;
    display: flex;
    height: 32px;
    padding: 8px;
    align-items: center;
    gap: 6px;
    flex: 1 0 0;
  }
  .my-store {
    padding: 2px;
  }

  .notification {
    padding: 6px;
    gap: 8px;
    align-self: stretch;
  }

  .my-store,
  .notification {
    background-color: rgba(0, 0, 0, 0);
  }

  .my-store-text {
    display: none;
  }

  .logo {
    padding: 10px 5px 8px 5px;
  }

  .main-container {
    width: 390px;
  }

  section.plan {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .plan-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }

  .close-btn-desktop {
    display: none;
  }

  .plan-text .close-btn-mobile {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
  }

  section.card {
    width: 390px;
  }
}
