:root {
  --primary: #f1f1f1;
  --secondary: #ffffff;
  --hover: #f7f7f7;
  --pressed: #f0f0f0;
  --focused: #005bd3;
  --font-light: #e3e3e3;
  --font-mid: #616161;
  --font-dark: #303030;
  --stroke-s-200: #616161;
  --stroke-s-100: #e1e1e1;
  --stroke-light-100: rgba(255, 255, 255, 0.2);
  --stroke-s-50: #ebebeb;
  --grey-g-50: #656266;
  --grey-g-100: #616161;
  --grey-g-200: #322f33;
  --grey-g-300: #1c181d;
  --grey-16: #1a1a1a;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus,
a:focus,
button:focus {
  outline: none;
}
body.container {
  gap: 32px;
  height: 100vh;
  display: flex;
  max-width: 100vw;
  position: relative;
  align-items: center;
  padding-bottom: 0px;
  flex-direction: column;
  background: var(--primary);
}

.nav-bar {
  width: 100%;
  height: 56px;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  justify-content: space-between;
}

.brand {
  width: 104.868px;
  height: 30px;
  cursor: pointer;
}

.logo-mobile {
  width: 32px;
  height: 32px;
  display: none;
}

.search-bar-form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar:hover {
  border: 1px solid var(--stroke-s-100);
}

.search-bar:active,
.search-bar:focus {
  border: 2px solid var(--secondary);
}

.search-bar {
  gap: 6px;
  width: 100%;
  height: 32px;
  padding: 8px;
  display: flex;
  font-family: "Inter", sans-serif;
  color: var(--secondary);
  align-items: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 13 14' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.82264 10.3833C7.89957 11.0841 6.74835 11.5 5.5 11.5C2.46243 11.5 0 9.03757 0 6C0 2.96243 2.46243 0.5 5.5 0.5C8.53757 0.5 11 2.96243 11 6C11 7.24835 10.5841 8.39957 9.8833 9.32264L12.7803 12.2197C13.0732 12.5126 13.0732 12.9874 12.7803 13.2803C12.4874 13.5732 12.0126 13.5732 11.7197 13.2803L8.82264 10.3833ZM9.5 6C9.5 8.20914 7.70914 10 5.5 10C3.29086 10 1.5 8.20914 1.5 6C1.5 3.79086 3.29086 2 5.5 2C7.70914 2 9.5 3.79086 9.5 6Z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 40px;
  border-radius: 8px;
}

.right-elem {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.notification:hover,
.my-store:hover {
  background-color: var(--font-mid);
}

.notification:active,
.notification:focus,
.my-store:active,
.my-store:focus {
  background: var(--grey-g-50);
}

.notification:focus,
.my-store:focus {
  box-shadow: 0px 0px 0px 3px var(--focused), 0px 0px 0px 1px #000;
}
.notification {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.alert-icons button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.my-store {
  display: flex;
  padding: 2px 2px 2px 8px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 130%;
  align-items: center;
  border-radius: 8px;
  gap: 8px;
  cursor: pointer;
}

.logo {
  display: flex;
  height: 28px;
  border-radius: 6px;
  background: #36fba1;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 9px 5px 10px 5px;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.plan {
  display: flex;
  width: 100%;
  max-width: 800px;
  padding: 12px 8px 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  gap: 5px;
}

.plan-text {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
}

.plan-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.select-plan {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
}

.close-btn {
  display: flex;
  padding: 6px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
}

.close-btn:focus {
  border: 4px solid var(--focused);
}

.close-btn:hover {
  background-color: var(--grey-g-50);
}

.close-btn img {
  width: 20px;
  height: 20px;
}

.plan-text .close-btn-mobile {
  display: none;
}
section.card {
  display: flex;
  width: 800px;
  max-width: 800px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 18px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

.setup-guide-container {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.setup-guide-choices li {
  list-style: none;
  width: 100%;
}

.setup-guide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.setup-guide-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.setup-guide-title {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}

.setup-guide-instruction {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.setup-guide-progress {
  display: flex;
  align-items: center;
  gap: 8px;
}

.setup-guide-progress label {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
}
.setup-guide-progress .setup-progress {
  position: relative;
  width: 72px;
  height: 4px;
  background-color: var(--font-light);
  border-radius: 28px;
}

.setup-progress div {
  background-color: var(--grey-g-300);
  position: absolute;
  line-height: inherit;
  width: 0;
  height: 100%;
  border-radius: 28px;
}

div.close-setup {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.close {
  border-radius: 6px;
}

.close:hover,
.open:hover {
  background: var(--hover);
}

.close:active,
.open:active {
  background: var(--pressed);
}

.close:focus,
.open:focus {
  border: 2px solid var(--focused);
}

.setup-guide-choices {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
}

.choice-open {
  display: flex;
  padding: 8px 8px 12px 8px;
  align-items: center;
  gap: 96px;
  align-self: stretch;
  border-radius: 10px;
  background-color: #f3f3f3;
}

.choice-open:focus {
  outline: 2px solid var(--focused);
  offset: 10px;
}

.right-item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.select-icon {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.choice-text {
  display: flex;
  padding: 2px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}

.choice-detail {
  align-self: stretch;
}

.choice-detail a {
  font-size: 14px;
  color: var(--focused);
  text-decoration: none;
  display: block;
  width: max-content;
}

.left-item {
  width: 156.145px;
  height: 120px;
}

.choice-close {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 120px;
  align-self: stretch;
}

.choice-close-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.choice-close-icon {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.choice-close-icon,
.select-icon {
  background: transparent;
  border: none;
  border-radius: 12%;

  height: 30px;
  width: 30px;

  cursor: pointer;

  border: 2px solid #b2b2b2;

  transition: all 100ms ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes zoom-in-spin {
  from {
    transform: scale(0) rotate(270deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-spinner-close,
.loading-spinner-open {
  animation-duration: 1000ms;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.choice-close-icon:focus .not-completed-icon-close circle,
.select-icon:focus .not-completed-icon-open circle {
  fill: #d9d9d9;
  stroke-dasharray: 0 0;
}

.choice-close-icon:hover .not-completed-icon-close circle,
.select-icon:hover .not-completed-icon-open circle {
  stroke-dasharray: 0 0;
}

.completed-icon-close,
.completed-icon-open {
  animation-name: zoom-in-spin;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

.choice-close-icon:focus,
.select-icon:focus {
  outline: 2px solid var(--focused);
  outline-offset: 2px;
}

.choice-close-text {
  display: flex;
  padding: 2px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}

.choice-btn {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.choice-btn div:last-of-type {
  font-size: 12px;
}

.dashboard {
  top: 65px;
  right: 16px;
  z-index: 4;
  display: flex;
  width: 320px;
  padding: 6px 0px;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 14px;
  /* Drop Shadow */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.first-item,
.second-item,
.third-item {
  display: flex;
  padding: 0px 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.dropdown-brand {
  display: flex;
  padding: 4px 12px 4px 8px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: var(--primary);
}

.brand-name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dashboard-logo {
  display: flex;
  height: 28px;
  padding: 9.625px 5.875px 10.375px 6.125px;
  justify-content: center;
  align-items: center;
  border-radius: 5.25px;
}

.dashboard-logo-text {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 10.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.all-stores {
  cursor: pointer;
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
}

.all-stores:hover {
  background: var(--hover);
}

.all-stores:active {
  background: var(--pressed);
}

.all-stores:focus {
  border: 2px solid var(--focused);
}

.store-icon {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.store-icon img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.line {
  width: 320px;
  height: 0.75px;
  background-color: var(--stroke-s-100);
}

.first-item ~ li {
  list-style-type: none;
}

.dropdown-lists,
a.list-text,
.manage-acct,
.log-out,
.log-out a,
.manage-acct a {
  display: flex;
  padding: 0;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
}

a.list-text,
.log-out a,
.manage-acct a,
.user a {
  width: 100%;
  padding: 6px;
  text-align: left;
  cursor: pointer;
}
.user div,
.manage-acct,
.log-out {
  padding: 0;
}

a.list-text:focus,
.manage-acct a:focus,
.log-out a:focus,
.user a:focus {
  border: 2px solid var(--focused);
}

li .user {
  list-style: none;
  width: 100%;
}

.user a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
}

.mail {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
}

.all-stores .store-text,
.dropdown-lists .list-text,
.manage-acct .acct-text,
.log-out .log-out-text {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.card a:focus {
  box-shadow: 0px 0px 0px 2px #005bd3, 0px 0px 0px 3px #fff,
    0px 0px 0px 1.5px #333;
}

.notification-dropdown {
  top: 65px;
  right: 16px;
  z-index: 2;
  position: absolute;
  display: inline-flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 14px;
  background: var(--secondary);
  /* Drop Shadow */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.alert-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.alert-text {
  font-size: 14px;
}

.alert-icons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.alert-icons button:focus {
  border: 1px solid var(--focused);
}

.alerts {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 8px;
  background-color: var(--hover);
}

.close-setup .open,
.dashboard,
.notification-dropdown,
.inactive {
  display: none;
}

.active {
  display: flex;
}

/* Utility classes */

/* Background color */
.dark {
  background-color: var(--grey-16);
}

.light {
  background-color: var(--secondary);
}

.grey-50 {
  background-color: var(--grey-g-50);
}
.grey-100 {
  background-color: var(--grey-g-100);
}
.grey-200 {
  background-color: var(--grey-g-200);
}
.grey-300 {
  background-color: var(--grey-g-300);
}

/* Font colors */
.font-light {
  color: var(--font-light);
}

.font-mid {
  color: var(--font-mid);
}

.font-dark {
  color: var(--font-dark);
}

/* Font Sizes */
.text-13-md {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.text-13-sb {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

/* Outlines */
.stroke-100 {
  border: 1px solid var(--stroke-s-100);
}

.stroke-200 {
  border: 1px solid var(--stroke-s-200);
}

.stroke-50 {
  border: 1px solid var(--stroke-s-50);
}

/* Buttons */
button {
  border: none;
  background: none;
}
.btn {
  display: inline-flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.btn-light {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--secondary);
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
}
.btn-light:hover {
  background: var(--hover);
}

.btn-light:active {
  background: var(--hover);
  box-shadow: 0px 2px 1.5px 0px #e2e2e2 inset;
}

.btn-light:focus {
  box-shadow: 0px 0px 0px 3px var(--focused), 0px 0px 0px 1px #fff,
    0px -1px 0px 0px #b5b5b5 inset;
}

.btn-dark {
  border-radius: 6px;
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
}
.btn-dark:hover {
  background: #2a2a2a;
}

.btn-dark:active {
  background: #2b2b2b;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}

.btn-dark:focus {
  box-shadow: 0px 0px 0px 5px #005bd3, 0px 0px 0px 3px #fff,
    0px 0px 0px 1.5px #333;
}

.btn-no-outline {
  border-radius: 6px;
}

.btn-no-outline:hover {
  background: #e7e7e7;
}

.btn-no-outline:active {
  background: #e0e0e0;
}

.btn-no-outline:focus {
  border: 2px solid var(--focused);
  background: #fff;
}
/* Cursor */

.cursor-p {
  cursor: pointer;
}
/* Media Queries */

@media (max-width: 640px) {
  body.container {
    width: 100vw;
    max-width: 640px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .nav-bar {
    width: 100vw;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
  }

  .brand {
    width: 32px;
    height: 32px;
  }

  .logo-mobile {
    display: inline-flex;
    img {
      width: 32px;
      height: 32px;
    }
  }

  .logo-desktop {
    display: none;
  }

  .search-bar-form {
    width: 240px;
    display: flex;
    height: 32px;
    padding: 8px;
    align-items: center;
    gap: 6px;
    flex: 1 0 0;
  }
  .my-store {
    padding: 2px;
  }

  .notification {
    padding: 6px;
    gap: 8px;
    align-self: stretch;
  }

  .my-store,
  .notification {
    background-color: rgba(0, 0, 0, 0);
  }

  .my-store-text {
    display: none;
  }

  .logo {
    padding: 10px 5px 8px 5px;
  }

  .main-container {
    width: 100%;
  }

  section.plan {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .plan-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }

  .close-btn-desktop {
    display: none;
  }

  .plan-text .close-btn-mobile {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
  }

  section.card {
    width: 100%;
    align-items: flex-end;
    align-self: stretch;
  }

  .left-item {
    display: none;
  }

  .choice-detail a {
    display: inline-flex;
  }

  .notification-dropdown {
    width: 358px;
    right: unset;
  }

  .alert-detail {
    flex: 1 0 0;
    text-align: center;
  }
}
